@font-face {
  font-family: 'source-sans-3';
  src: url(./font/SourceSans3-Regular.ttf);
}

body {
  font-family: 'source-sans-3';
  text-align: center;
}

.show-degree {
  width: 20%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.show-degree > div:nth-child(2) > img {
  width: 100px;
}

.show-degree > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-forecast {
  margin: auto;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hide {
  display: none;
}